/*
Colors used:
Background:#ffffff
Text: #000000
Primary: #008080 Shade: #006666 Tint: #329999
Secondary: #696969
*/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
h1,
h2,
h3,
h4 {
  font-family: "Bree Serif", serif;
  line-height: 1.4;
  font-weight: 400;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.36em;
}
header {
  background-color: #ffffff;
  /* text-align: center; */
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
b {
  font-size: 18px;
  font-weight: 400;
  color: #006666;
}
#main {
  padding-top: 80px;
}
.container {
  padding: 0 15px;
}
.text-padding {
  padding: 0 5%;
}
.maxWidth-container {
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  margin: 25px 0;
}
.remove-list-style {
  list-style-type: none;
  padding: 0 10px;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  /* width: 100%; */
  margin: 0;
}
nav > ul > li > a:hover,
a:focus {
  color: #006666;
  text-decoration: underline;
}
nav > ul > li > a:visited {
  color: #696969;
}
nav > ul > li > a:active {
  color: #329999;
}
nav > ul > li > a.nav-items {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Bree Serif";
  font-weight: 400;
  color: #008080;
  text-decoration: none;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 40px;
  /* padding-right: 0; */
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #696969;
  text-align: center;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #696969;
  max-width: 1000px;
  margin: 0 auto;
}
#overview .row {
  margin: o auto;
}
#profile {
  width: 300px;
  height: auto;
}
#logo {
  width: 150px;
  max-width: 250px;
  height: auto;
}
#wildfired-mockup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#profile-pic {
  padding: 0 5%;
  float: right;
}
#hero h1 {
  text-align: center;
}
#role-text-padding {
  padding: 5% 0;
}
img {
  width: 100%;
}
.fab {
  padding-right: 10px;
}
a {
  font-family: "Bree Serif";
  font-weight: 400;
  color: #008080;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #008080;
  text-decoration: underline;
}
a:visited {
  color: #696969;
}
a:active {
  color: #329999;
}
a.button {
  display: inline-block;
  background-color: #008080;
  color: #ffffff;
  font-family: "Bree Serif";
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #006666;
  transition: 0.2s opacity;
}
a.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
a.button.contact {
  background-color: transparent;
  color: #008080;
  text-transform: uppercase;
  border: 2px solid #008080;
  margin-bottom: 10px;
}
a.button.contact:hover {
  background-color: #008080;
  color: #ffffff;
}
.social.link {
  margin: 5px;
  width: 36px;
  height: 36px;
}
#copyright {
  font-size: 10px;
}
#role {
  margin: 0 auto;
  display: inline-block;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col- {
  padding: 0 10px;
}
[class*="col-"] {
  float: left;
}
.cs-image-spacing {
  padding: 10px 0;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }
  .logo {
    text-align: unset;
    padding: 20px 70px 15px;
    float: left;
  }
  .cs-image-spacing {
    padding: 30px 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul {
    width: auto;
    float: right;
    margin-top: 45px;
    padding-right: 70px;
  }
  #hero {
    text-align: center;
  }
  #hero spam {
    display: block;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
    /* padding: 0 10px; */
  }
  .center-header {
    text-align: center;
    padding: 5% 0;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-3 {
    width: 25%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #main {
    padding-top: 170px;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
}
